#contact-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media only screen and (max-width: 768px) {
        justify-content: flex-start;
    }
}

#contact-details {
    margin-right: 5rem;  
}

#contact-form {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    @media only screen and (min-width: 768px) {
        width: 60%
    }

    @media only screen and (min-width: 992px) {
        width: 40%
    }
}

form {
    width: 100%;

    #first-line {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        input {
            width: 48%; 
        }
        margin-bottom: 1rem;
    }

    input, textarea {
        padding-left: 0.5em;
        border: none;
        border-radius: 2px;
        box-sizing: border-box;
        -webkit-box-sizing:border-box;
    }

    textarea:focus, input:focus{
        outline: 2px solid rgb(75, 82, 81);
        
        
    }
    
    #second-line {
        textarea {
            width: 100%;
            height: 5rem;
        }
        margin-bottom: 0.7rem;


    }
    
}

.contact-icon {
    margin-right: 0.75rem;
}


