.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.landing-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.landing-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
