.skills-icon {
    margin-right: 1rem;
}

#skills-container {
    
}

#skills-icons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

#skills-details {
    margin-top: 2rem;
    display: block;
    
}