.skills-icon {
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  transition: transform 0.2s;
  :hover {
    transform: scale(1.05);
  }
}

#skills-icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-between;
  align-items: center;
}

#skills-details {
  margin-top: 2rem;
  display: block;
}
